<table class="table table-borderless">
    <thead>
        <tr>
            <th></th>
            <th>Tank</th>
            <th>Product</th>
            <th>Inventory</th>
            <th>Capacity</th>
            <th>Gravity</th>
            <th>PPG</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tank in Tanks)
        {
            <tr>
                <td><span class="box @tank.Color"></span></td>
                <td>@tank.TankNumber</td>
                <td>@tank.Product</td>
                <td>@tank.Inventory</td>
                <td>@tank.Capacity</td>
                <td>@tank.Gravity</td>
                <td>@tank.PPG</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public Tank[] Tanks { get; set; } = default!;
}
<style>
.box {
  float: right;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  clear: both;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
</style>

